
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.log
*.tmp


Debug/
Release/

# Exceptions for build files
!STM32CubeIDE/Debug/makefile
!STM32CubeIDE/Debug/*.mk
!STM32CubeIDE/Debug/*.list
!STM32CubeIDE/Release/makefile
!STM32CubeIDE/Release/*.mk
!STM32CubeIDE/Release/*.list
